body {
  margin: 5;
  padding: 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 50, 0.5));
  background-position: center;
  font-family: sans-serif;
}
.contact-title
{
  margin-top: 40px;
  color: darkblue;
  text-transform:  uppercase;
  transition: all 4s ease-in-out;
}
h1 {
  font-size: 25px;
  line-height: 30px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
h6{
  background-position: left;
  color: black;
}
h5{
  text-align: left;
  color: black;
}
form
{
  margin-top:50px;
  transition: all 4s ease-in-out;
}
.form-control
{
  width: 600px;
  background: transparent;
  border:none;
  outline: none;
  border-bottom:  1px solid grey;
  color: darkred;
  font-size: 18px;
  margin-bottom: 16px;
}

input
{
  height: 45px;
}
.submit
{
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
.submit:hover
{
  background-color: darkred;
  cursor: pointer;
}
.red
{
  color:red;
}
.gold
{
  color:gold;
}
.back1 {
  height: 300px;
  background-color: "https://ak4.picdn.net/shutterstock/videos/10697474/thumb/10.jpg"; /* For browsers that do not support gradients */
  background-image: linear-gradient(blue, yellow);
}
.grad1 {
  background: rgb(238,174,202);
  background: linear-gradient(125deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.titlebox{
  width: 160px;
  height: 85px;
  background: transparent;
  border: none;
  outline: none;
  border-top: 2px solid black;
  border-left: .5px solid black;
  border-right: .5px solid black;
  border-bottom: 2px solid black;
  color: #FAF9A0;
  font-size: 28px;
  margin-bottom: 10px;
  transition: all 5s ease-in-out;
  font-family: monospace;
}
.titledisc {
  background: transparent;
  border:none;
  outline: none;
  color: darkred  ;
  font-size: 10px;
  margin-left:22px;
  margin-top: -5px;
  font-family: monospace;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  color:darkblue;
  text-transform:  uppercase;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: grey;
  color: #FAF9A0;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  margin-left: -80px;
  font-size: 11px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup container - can be anything you want */
.popup1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  color: darkblue;
  text-transform:  uppercase;
  margin-left: 100px;

}

/* The actual popup */
.popup1 .popuptext1 {
  visibility: hidden;
  width: 250px;
  background-color: grey;
  color: #FAF9A0;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  margin-left: -80px;
  font-size: 11px;
}

/* Popup arrow */
.popup1 .popuptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup1 .show1 {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
